<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" name="Functional" parallel="classes">
 
  <test name="Parallel_Chrome">
	  <parameter name="browserName" value="CHROME"></parameter>
	  <parameter name="fileName" value="App.properties"></parameter>
		   
	   <packages>
		      <package name="com.tests.demoqa"/>
	   </packages>
  </test> <!-- Parallel -->
  
  <test name="Parallel_FireFox">
	  <parameter name="browserName" value="FIREFOX"></parameter>
	  <parameter name="fileName" value="App.properties"></parameter>

	   <packages>
		      <package name="com.tests.demoqa"/>
	   </packages>
  </test> <!-- Parallel -->

</suite> <!-- Functional -->
